* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
}

h1 {
  margin-bottom: 20px;
}


.scoreboard {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}

.score {
  background: #222; 
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  font-size: 1.2rem;
  display: flex;
  gap: 10px;
  align-items: center;
}

.player {
  font-weight: bold;
  font-size: 1.4rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  margin-bottom: 20px;
}

.cell {
  background: white;
  border: 2px solid #333;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s ease;
}

.cell:hover {
  background: #eaeaea;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background: #333;
  color: white;
  border-radius: 4px;
}

button:hover {
  background: #555;
}

.controls {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  justify-content: center;
}

.controls button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}


@media (max-width: 400px) {
  .controls {
    flex-direction: column;
  }
}
